<style>
    * {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        width: 100vw;
        height: 100vh;
    }

    a {
        color: white;
    }

    .button {
        float: left;
        width: 23%;
        height: 23%;
        padding: 1%;
    }

    .button-icon {
        width: 100%;
        height: 75%;
    }

    .button-icon img {
        max-width: 100%;
        max-height: 100%;
    }

    .button-text {
        color: white;
        background-color: black;
        text-align: center;
        height: 25%;
    }
</style>

<div class="box">
    <h1>Rover - Control Panel</h1>
    <hr>

    <!-- Camera -->
    <div class="button">
        <div class="button-icon">
            <a href="/camera">
                <img src="https://image.flaticon.com/icons/svg/149/149099.svg">

        </div>
        <div class="button-text">
            <a href="/camera">
                Camera
            </a>
        </div>
    </div>

    <!-- Map -->
    <div class="button">
        <div class="button-icon">
            <a href="/map">
                <img src="https://image.flaticon.com/icons/svg/149/149224.svg">
            </a>
        </div>
        <div class="button-text">
            <a href="/map">
                Map
            </a>
        </div>
    </div>

    <!-- System Logs -->
    <div class="button">
        <div class="button-icon">
            <a href="/system">
                <img src="https://image.flaticon.com/icons/svg/149/149345.svg">
            </a>
        </div>
        <div class="button-text">
            <a href="/system">
                System Logs
            </a>
        </div>
    </div>

    <!-- Status -->
    <div class="button">
        <div class="button-icon">
            <a href="/status">
                <img src="https://image.flaticon.com/icons/svg/149/149181.svg">
            </a>
        </div>
        <div class="button-text">
            <a href="/status">
                Status
            </a>
        </div>
    </div>
</div>
