<!doctype html>
<html lang="en">

<head>
  <title>{{title}}</title>

  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Stylesheets -->
  <link rel='stylesheet' href='/stylesheets/xterm.css'>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/css/uikit.min.css" /> --}}
  <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">

</head>

<body>
  <div id="navbar" class="navbar">
    <div class="yeit">
        <a href='index.html'>
          <img class="logo" src="YEET.png">
        </a>
        <div class="SHII">
          <a href=''>HOME</a>
          <span class="yes">  / </span>
          <a href="/camera">CAMERA</a>
          <span class="yes">  / </span>
          <a href='/system'>SYSTEM LOGS</a>
          <span class="yes">  / </span>
          <a href='/status'>STATUS</a>
        </div>

    </div>
  </div>
  {{{body}}}
  <!-- UIkit JS -->
  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit.min.js"></script> --}}
  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit-icons.min.js"></script> --}}

</body>

</html>