body {
    font-family: 'Share Tech Mono', monospace;
    background: #222;
    color: #c8c8c8;
    font-weight: 400;
    font-size: 17px;
}

.navbar {
    height: 4em;
    margin-bottom: 50px;
    margin: auto;
    border-bottom: dotted 1px #444;
}

.logo {
    width: 60px;
    margin: auto;
}

.yeit {
    max-width: 900px;
    margin: auto;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
}

.SHII {
    display: block;
    margin-bottom: 2em;
    margin-top: -2em;
    text-align: right;
}
}

.yes {
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
}

a {
    text-decoration: none;
    color: #fff;
}